@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Stratos */
  --digi--stratos-500: #0173b1 !important;
  --digi--grayscale-900: #1e1e1e !important;
  --digi--color--text--primary: #1e1e1e !important;
  --digi--color--text--secondary: #0173b1 !important;
  --digi--color--background--inverted-1: #0173b1 !important;
  --digi--color--background--inverted-3: #1e1e1e !important;
  --digi--color--background--radio-secondary: #0173b1 !important;
  --digi--color--background--checkbox-secondary: #0173b1 !important;
  --digi--color--border--primary: #1e1e1e !important;
  --digi--color--border--secondary: #0173b1 !important;
  --digi--color--border--checkbox-secondary: #1e1e1e !important;
  --digi--color--icons--primary: #1e1e1e !important;
  --digi--color--icons--secondary: #0173b1 !important;
}
