/* LAYOUT */

.columns {
  display: flex;
  height: 80vh;
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  padding: 1rem;
  overflow-y: auto;
}
/* CONTENT */
.main-content {
  flex-grow: 1;
  padding: 1rem;
}

@media (max-width: 900px) {
  .columns {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    overflow-y: unset;
  }

  .main-content {
    padding: 0.5rem;
  }
}
