header {
  position: relative;
  z-index: 100;
}

.digi-logo__img {
  content: url("../assets/logo.png") !important;
  width: auto !important;
  height: 40px !important;
  margin-right: 0.5rem !important;
}

.digi-logo__system-name {
  margin: 0 !important;
}

.digi-form-input__label {
  display: none !important;
}

.digi-form-input {
  gap: 0 !important;
}

.digi-header .sc-digi-header .digi-form-filter {
  margin-left: 1rem;
}

nav .digi-header-navigation__inner {
  display: flex;
  position: absolute;
  top: 2.4rem;
  right: 1rem;
}

nav .digi-header-navigation-item {
  display: flex;
}

@media screen and (max-width: 768px) {
  nav .digi-header-navigation__inner {
    position: unset;
  }
  nav .digi-header-navigation-item {
    display: unset;
  }
}

.digi-form-filter__dropdown:last-child {
  right: 0 !important;
}
