.jobs-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0;
}

.job-card {
  position: relative;
  transition: box-shadow 0.2s;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.job-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.job-logo {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 52px;
  height: 52px;
  object-fit: contain;
  z-index: 10;
  margin-right: 10px;
  margin-top: 5px;
}

.job-card h5 {
  padding-right: 3rem !important;
  margin-top: 0.5rem;
}

/* Job details section */
.job-ad-details {
  margin-top: 0, 5rem;
}

.job-ad-details p {
  margin: 0.25rem 0;
}

.employer-label,
.address-label {
  font-weight: bold;
  font-size: 0.9rem;
}

.employer,
.address {
  font-size: 0.9rem;
}

/* animationer */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
